/* ==============================
            Mobile Menu
================================= */
div.navbar-header {
  position: relative;
}

#mobile-nav-open-btn {
  font-size: 25px;
  color: #4a61dd;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 6px;
  /* Hide mobile nav open btn */
  display: none;
}

#mobile-nav {
  /* by default mobile nav will be hidden with height 0% */
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: RGBA(255, 255, 255, 0.9);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  overflow-y: hidden;
}

#mobile-nav-close-btn {
  font-family: "Relway", sans-serif;
  font-size: 40px;
  color: #4a61dd;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 13px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#mobile-nav-content {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  position: relative;
  top: 10%;
}

#mobile-nav ul li {
  margin-bottom: 20px;
}

#mobile-nav a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #4a61dd;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
  color: #4a61dd;
  background: none;
}

/* Mobile Nav Scroll Spy Active State */
.white-nav-top #mobile-nav ul.nav > li.active > a {
  color: #4a61dd;
  font-weight: 500;
}

@media (min-width: 812px) and (max-width: 1034px) {
  .home-01 p {
    padding: 1em 15%;
  }

  footer * {
    display: block;
    margin: 0 auto;
  }

  .copy-right {
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 767px) and (max-width: 812px) {
  .home-01 p {
    padding: 1em 10%;
  }

  footer * {
    display: block;
    margin: 0 auto;
  }

  .copy-right {
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 517px) and (max-width: 767px) {
  #mobile-nav-open-btn {
    display: block;
  }

  .home-01 p {
    font-size: 1.25em;
    padding: 1em 10%;
  }

  div.nav-bar-menu {
    display: none;
  }

  footer * {
    display: block;
    margin: 0 auto;
  }

  .copy-right {
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 516px) {
  body {
    padding: 1%;
  }

  .navbar-header span {
    display: inline-block;
  }

  .navbar a {
    padding-right: 0;
    padding-left: 0;
  }

  #mobile-nav-open-btn {
    display: inline-block;
    right: 0;
  }

  .home-01 p {
    font-size: 1.25em;
    padding: 1em 0;
  }

  div.nav-bar-menu {
    display: none;
  }

  .home-04 {
    padding: 0 2% 4%;
  }

  .home-04 * {
    margin: 0 auto;
    padding: 2%;
    text-align: center;
  }

  .home-04 h2 {
    font-size: 20px;
  }

  .home-04 a.button {
    margin-top: 1%;
    padding: 10px;
    left: 0;
  }

  footer * {
    display: block;
    margin: 0 auto;
  }

  footer div.footer-bottom {
    display: none !important;
  }

  .copy-right {
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 516px) {
}
