body {
  background: #161822;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #99a1ba;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
}

.background-img {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  fill: #25282c;
  fill-rule: evenodd;
}

img {
  border-radius: 2px;
}

.navbar {
  margin: 0 4em 2em;
  padding: 20px 0 20px 0;
}

div.navbar-header {
  width: 100%;
  margin: 0 auto;
}

div.container-fluid {
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: baseline !important;
}

.nav-bar-menu {
  width: 100%;
  right: 0;
}

hr {
  border: 0;
  display: block;
  height: 200em;
  background: #2b2f40;
  margin: 2em 4em;
}

.navbar-logo {
  padding: 13px 15px;
}

.site-nav-wrapper,
.footer-nav,
.footer-social {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  align-items: center;
  height: 80px;
}

.sit-nav-wrapper *,
.footer-nav *,
.footer-social * {
  display: inline;
}

ul.navbar-nav > li,
ul.list-reset > li {
  margin: 1em;
}

ul.navbar-nav > li > a,
ul.list-reset > li > a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.home-01 {
  margin: 4em auto;
  text-align: center;
  text-align-last: center;
  padding: 0 4em;
}

.home-01 p {
  font-size: 1.25em;
  padding: 1em 24%;
}

.home-01 a.button {
  border-radius: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  color: #dde2f4;
  background-color: #4a61dd;
}

.home-02 {
  text-align: justify;
  text-align-last: left;
}

.home-02 img {
  margin: 1em 2em;
  display: -webkit-inline-box;
  display: inline-flex;
  border-radius: 50%;
  background-color: #2b2f40;
}

.home-02-item {
  padding: 0 2em;
}

.home-02-item p {
  font-weight: 400;
  font-size: 1.2em;
}

.home-03 {
  padding: 1em;
}

.home-03-title {
  text-align: center;
}

.home-03-section1,
.home-03-section2,
.home-03-section3 {
  text-align: justify;
  text-align-last: left;
  padding: 1em;
}

.home-03-titles {
  font-weight: 500;
  text-transform: uppercase;
  color: #4a61dd;
}

.home-03 p {
  font-size: 1.2em;
}

.home-04 {
  margin: 2em 4em;
  padding: 4em 2em;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0, #4a61dd),
    to(#2742cc)
  );
  background: linear-gradient(to right top, #4a61dd 0, #2742cc 100%);
}

.home-04 a.button {
  position: relative;
  top: 20%;
  left: 20%;
  border-radius: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px;
  color: #4a61dd;
  background-color: #dde2f4;
}

.copy-right {
  float: left;
}
